<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stock.rahat.stock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LoginActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activity.RegistrationActivity" />
        <activity android:name=".Activity.HomeActivity">

        </activity>
        <activity android:name=".Activity.UserListActivity" />
        <activity android:name=".Activity.UserUpdateActivity" />
        <activity android:name=".Activity.ProductListActivity">


        </activity>
        <activity android:name=".Activity.ProductInsertActivity" />
        <activity android:name=".Activity.ProductUpdateActivity" />
        <activity android:name=".Activity.ProductAddQtyActivity" />
        <activity android:name=".Activity.SaleActivity"></activity>
    </application>

</manifest>